.appHeader{

    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 30px rgba($color: #000000, $alpha: .06);
    z-index: 9999999999999999999999999999999999999999999999999999;

    .menuMobile{
        display: none;
    }

    .strip_lines{

        display: flex;
    
       .lineIn{
        
        width: 25%;
        height: 5px;
    
       }
    
       .lasg_red {
        background-color: #E83B50;
       } 
    
       .lasg_blue {
        background-color: #4D8EFF;
       } 
    
       .lasg_yellow {
        background-color: #FFBB32;
       } 
    
       .lasg_green {
        background-color: #32C76D;
       } 
    
    }

    .seth_Link{

        background-color: var(--primary);
        height: 45px;
        font-size: 14px;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        position: relative;
        z-index: 4;
        letter-spacing: 2px;
        font-weight: 500;

        .newsScroll{

            display: flex;
            align-items: center;
            gap: 20px;
            display: none;

        }

        .quick_links{

            display: flex;
            gap: 20px;
            font-size: 11px;
            margin-left: auto;
            justify-content: flex-end;

            a{
                display: flex;
                align-items: center;
                gap: 5px;
                text-transform: uppercase;
                font-weight: 600;
    
                &:hover{
                    color: var(--lasgGreen);
                }
            }
        }

        
    }

    .navigation{

        background-color: #fff;
        position: relative;
        z-index: 3;

        .mobileBurger{
            display: none;
        }

        .showPage{
            position: fixed;
        }

        .siteBranding{

            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;

            .logo{
                height: 60px;
                width: 60px;

                img{
                    width: 100%;
                }
            }

            .siteName{
                font-size: 12px;
                letter-spacing: 2px;
            }
        }

        

        .seth_nav{

            display: flex;
            gap: 50px;

            .parentName{

                height: 80px;
                font-size: 12px;
                display: flex;
                align-items: center;
                gap: 10px;
                border-bottom: 2px solid transparent;
                cursor: pointer;
                letter-spacing: 2px;
                font-weight: 500;

                .navi{
                    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }

                &:hover{

                    border-color:  var(--lasgGreen);
                    color: var(--primary);

                    .navi{
                        rotate: (180deg);
                        color: var(--primary) !important;
                    }

                }

                &.fix{

                    border-color:  var(--lasgGreen);
                    color: var(--primary);

                    .navi{
                        rotate: (180deg);
                        color: var(--primary) !important;
                    }
                    
                }

            }
            
        }


        .main_nav{
            //height: 80px;
            align-items: center;
        }


        .nests{

            position: fixed;
            width: 100%;
            left: 0;
            top: 130px;
            padding-top: 80px;
            padding-bottom: 120px;
            height: calc(100vh - 130px);
            overflow: hidden;

            // &:hover{
            //     display: block !important;
            // }

            .vectorPhoto{

                width: 600px;
                position: absolute;
                bottom: 0px;
                right: 0px;
                z-index: 3;
                display: flex;
                align-items: center;

                img{
                    width: 100%;
                }
            }

            .nest_heading{

                font-size: 35px;
                letter-spacing: -.5px;
                width: 40%;
                line-height: 44px;
                margin-bottom: 70px;
                font-weight: 700;
                animation: swipeIn .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            .nest_links{

                display: flex;
                flex-direction: column;
                gap: 35px;
                cursor: pointer;
                height: 100vh;

                .linker{

                    display: flex;
                    align-items: center;
                    width: 60%;
                    border-bottom: 1px solid hsl(104, 8%, 85%);
                    padding-bottom: 35px;
                    justify-content: space-between;
                    transition: all .4s ease-in-out ;

                    &:hover {
                        border-color: var(--primary);
                    }

                    &:last-child{
                        border: none;
                    }

                    .linkUp{

                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        .link{
                            color: var(--primary);
                        }

                        p{
                            font-size: 14px;
                            width : 100%
                        }
                        
                    }

                }


            }
        }

    }
    
}

.animationSwipe{
    

    animation: swipeIn .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

@keyframes swipeIn {

    from {
        margin-left: -300px;
    }

    to{
        margin-left: 0;
    }

}

@media (max-width : 1200px) {

    .appHeader{

        .MobileBody{

            background-color: rgba($color: #000000, $alpha: .3);
            width: 100%;
            position: absolute;
            height: 100vh;
            height: 100dvh;
            z-index: 9999;
            display: flex;
            justify-content: flex-end;

            .menuMobile{
    
                width: 60%;
                min-height: max-content;
                background-color: var(--primary);
                z-index: 2;
                padding: 35px;
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding-top: 61px;
                color: #fff;
                z-index: 9999;
                overflow-y: scroll ;
        
                .menuBarArea{
        
                    display: flex;
                    justify-content: space-between;
                    margin-bottom:20px;
                    align-items: center;
        
                    .title{
        
                        font-size: 11px;
                        letter-spacing: 2px;
                        color: var(--lime3);
        
                    }
                }
        
                .menu_sm{
        
                    font-size: 24px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    cursor: pointer;
                    min-height: max-content;

                    &.dropdown{

                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        min-height: max-content;
                        flex-shrink: 0;

                        .dropdownTop{

                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .tagArr{

                                rotate: 0deg;
                                height: 30px;
                                width: 30px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                            }

                        }

                        .dropdownBottom{
                            display: flex;
                            flex-direction: column;
                            gap: 25px;
                            margin-top: 10px;
                            font-size: 21px;
                            font-size : 12px;
                            text-decoration: underline;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                        }
                    }

                }
        
                .others{
        
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    margin-top: 50px;
                    text-transform: uppercase;
                    font-size: 11px;
                    letter-spacing: 2px;
                    text-decoration: underline;
        
                    .mobileMenu{
        
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
        
                    }
        
                }
        
            }
        }

 
         .seth_Link{

            height: 40px;
            font-size: 12px;

         }
 
         .navigation{
 
             padding: 10px 0;
             background-color: #fff;
 
             .siteBranding{
 
                 gap: 15px;
                 width: 100%;
 
                 .logo{
                     width: 50px;
                     height: 50px;
                 }
 
                 .siteName{
 
                     width: 40%;
                     font-size: 11px;
                     font-weight: 700;
 
                 }
             }
 
             .seth_nav{
                 display: none;
             }
 
             .mobileBurger{
                 width: 30px;
                 height: 30px;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 margin-right: 0px;
                 width: 40px;
                 height: 40px;
             }
 
             .mobileBurger2{
                 margin-left: auto;
             }
             
         }
 
    } 
 
 }



 @media (max-width : 768px) {

    .appHeader{

        .MobileBody{

            .menuMobile{
                width: 80%;
            }

        }

    }

 }



// -------------------- media query (500px) ------------------

@media (max-width : 500px) {

   .appHeader{

    box-shadow: none;

    .MobileBody{

        .menuMobile{
            width: 100%;
            padding: 30px;
            padding-top: 34px;
        }

    }

    .strip_lines{

        position: relative;
        z-index: 9;

    }

        .seth_Link{
            display: none;
        }

        .navigation{

            padding: 20px 0;
            background-color: #fff;

            .siteBranding{

                gap: 15px;
                width: 100%;

                .logo{
                    width: 50px;
                    height: 50px;
                }

                .siteName{

                    width: 40%;
                    font-size: 11px;
                    font-weight: 700;

                }
            }

            .seth_nav{
                display: none;
            }

            .mobileBurger{
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 0px;
                width: 40px;
                height: 40px;
            }

            .mobileBurger2{
                margin-left: auto;
            }
            
        }

   } 

}