.services{
    padding: 50px 0;

    .midTopic{
        
        margin: 70px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        color: #fff;

        .topic{
            font-size: 50px;
            letter-spacing: -1px;
            color: #fff;
            margin-bottom: 20px;
        }

    }

    .view_all{
        background-color: var(--lasgGreen);
        padding: 20px 30px;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--primary);
        margin: 50px auto;
        cursor: pointer;
        width: max-content;
    }

    .servicesPlatoon{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        width: 100%;

        &.servicePagePlatoon{

            .services_card{

                box-shadow: 0px 3px 20px rgba($color: #000000, $alpha: .03);
                border: 1px solid transparent;
                transition: none;

                &:hover{

                    box-shadow: 0px 3px 20px rgba($color: #000000, $alpha: .08);
                    box-shadow: none;
                    background-color: var(--primary75);
                    
                    .title, .subtext{
                        color: #fff;
                    }

                    .icon{
                        background-color: #fff;
                        border-radius: 50%;
                        flex-shrink: 0;
                    }

                }
            }

        }
    }

    .services_card{

        width: calc(25% - 20px);
        //max-width: 280px;
        background-color: #fff;
        padding: 50px 20px;
        height: 340px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        transition: all .4s ease-in-out;
        cursor: pointer;

        .icon{
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;

            .hov{
                position: absolute;
                transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            .hov1{

                right: 50%;
                translate: 50%;
                
            }

            .hov2{

                left: -60px;
                
            }

        }

        &:hover{

            .icon{
    
                .hov1{
                    right: calc(-100% + 30px);
                }
    
                .hov2{
                    left: 50%;
                    translate: -50%;
                }
            }

        }

        .title{
            font-size: 18px;
            color: var(--dark);
            margin-bottom: auto;
            margin-top: 20px;
            font-weight: 700;
            text-align: center;
            width: 70%;
        }

        .subtext{
            font-size: 14px;
            color: #333;
            text-align: center;
            width: 80%;
            line-height: 21px;
        }

    }
}



@media (max-width : 1000px) {

   .services{
    padding: 0;

    .midTopic{

        text-align: center;
        margin-bottom: 50px;

        .topic{
            font-size: 34px;
            text-align: center;
            width: 90%;
            line-height: 43px;
        }

        .subtitle{
            line-height: 24px;
        }

    }

    .servicesPlatoon{
        gap: 20px;
    }

    .services_card{

        width: calc(33% - 11px);  

    }

   }

}

@media (max-width : 820px) {

    .services{

     .servicesPlatoon{

        &.servicePagePlatoon{

            .services_card{

                &:hover{

                    background-color: #fff;
                    box-shadow: 0px 3px 20px rgba($color: #000000, $alpha: .03);
                    
                    .title, .subtext{
                        color: #000;
                    }

                    .icon{
                        background-color: #fff;
                        border-radius: 50%;
                        flex-shrink: 0;
                    }

                }
            }

        }

     }
 
     .midTopic{
 
         .topic{
             margin-bottom: 10px;
         }
 
     }
 
     .services_card{

        &:hover{

            .icon{
    
                .hov1{

                    right: 50%;
                    translate: 50%;
                    
                }
    
                .hov2{
    
                    left: -60px;
                    
                }
            }

        }
        
        .title{
            width: 100%;
        }

        .subtext{

            max-height: calc(16px * 4 );
            overflow: hidden;
        }

     }
 
    }
 
 }

 @media (max-width : 758px) {

    .services{

        background-color: red;
 
     .midTopic{
 
         .topic{
             margin-bottom: 20px;
             font-size: 30px;
             width: 90%;
             line-height: 38px;
         }
 
     }

     .servicesPlatoon{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
     }
 
     .services_card{

        width: 48%;  
        height: 320px;
        padding: 50px 10px;
        
        .title{
            width: 75%;
        }

        .subtext{

            max-height: calc(16px * 4 );
            overflow: hidden;
        }

     }
 
    }
 
 }

 @media (max-width : 600px) {

    .services{
 
     .midTopic{
 
         .topic{
             margin-bottom: 20px;
             font-size: 30px;
             width: 90%;
             line-height: 38px;
         }
 
     }

     .servicesPlatoon{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
     }
 
     .services_card{

        width: 100%;  
        height: 320px;
        padding: 50px 10px;
        
        .title{
            width: 75%;
        }

        .subtext{

            max-height: calc(16px * 4 );
            overflow: hidden;
        }

     }
 
    }
 
 }

 @media (max-width : 485px) {
 
     .services_card{

        width: 100% !important;  

     }
 
 }