.quickCheck{
    overflow: hidden;
    position: relative;
    background-color: hsl(0, 0%, 99.3%);

    .lineBg{
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        right: -100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotateY(180deg);

        img{
            height: 150%;
        }
    }

    .getStarted{
        
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        padding: 120px 0;
        position: relative;
        z-index: 3;

        .title{
            margin-top: 30px;
            font-size: 17px;
            font-weight: 500;
        }

        .real{
            margin-bottom: 10px;
            font-size: 17px;
            font-weight: 500;
        }
    
        .textString{
    
            font-weight: 500;
            position: relative;
            color: #000;
            border-radius: 10px;
            width: 50%;
            display: flex;
            flex-direction: column;

            .textChange{
    
                width: 100%;
                font-size: 45px;
                font-weight: 600;
                line-height: 45px;
                letter-spacing: -1px;

                .many{
                    line-height: 35px;
                    padding-bottom: 15px;
                }    
                
            }
            
            .pasty{

                margin-top: 15px;
                width: 80%;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #444;
            
            }

        }   
    
        .quickAsapLinks{

            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            flex-wrap: wrap;
            gap: 15px;

            .linkServices{
                font-size: 16px;
                color: #808080;
                margin-top: 30px;
                position: absolute;
                bottom: 20px;
                left: 0;
                display: none;
    
                a{
                    color: #009C3E;
                    text-decoration: underline;
                    cursor: pointer;
                    font-weight: 500;
                }
            }
    
            .quick__title{
                font-weight: 500;
                display: flex;
                align-items: center;
                width: 100%;
                line-height: 27px;
                color: #000;
                font-size: 18px;

                .icon{
                    position: absolute;
                    top: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    color: #009C3E;
                    right: 20px;
                    transform: translateY(-50%);
                }
            }
            
            .content{

                transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.8);
            }

    
            .linkBin{
                width: 320px;
                border: 1px solid rgba($color: #000000, $alpha: 0.1);
                cursor: pointer;
                display: flex;
                position: relative;
                padding: 35px 25px;
                border-radius: 5px;
                background-color: #fff;

                &:last-child{
                    border: none;
                }
    
                &.untold{
    
                    gap: 0px;
    
                    p{
                        margin-left: auto;
                        margin-top: -1px;
                        font-weight: 600;
                        color: var(--lime);
                    }
    
                }
    
                &:hover{
    
                    border-color: #009C3E;
                    background-color: #009C3E;
                    color: #000;
                    border-radius: 5px;

                    .content{
                        padding-left: 10px;
                    }

                    .icon{
                        color: #fff;
                        right: 30px;
                        top: 35px;
                        transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.8);
                    }

                    .quick__title{
                        text-decoration: underline;
                    }

                    .quick__title, p{
                        color: #fff;
                    }
    
                }
    
                h1{
                    color: #000;
                    font-size: 21px;
                }
    
                p{
                    margin-top: 5px;
                    font-size: 14px;
                    color: #878787;
                }

            }
    
        }
    }

}




@media (max-width : 1200px) {

    .quickCheck{
        padding-top: 0;
    }

    .getStarted{

        margin-top: 40px;
        flex-direction: column;
        gap: 60px;

        .textString{

            width: 100%;

            .how{
                font-size: 18px;
                margin-bottom: 0px;
            }

        }

        .p{
            width: 100%;

            .txt{
                width: 75%;
                line-height: 29px;
                font-size:18px;
            }
        }

        .quickAsapLinks{

            width: 100%;
    
        }

    }
    
}

@media (max-width : 1000px) {

    .quickCheck{
        padding-top: 0;
    }

    .getStarted{

        margin-top: 40px;
        flex-direction: column;
        gap: 60px;
        justify-content: center;

        padding-right: 0px !important;

        .textString{

            width: 100%;

            .how{
                font-size: 18px;
            }
            
            .sip{
    
                margin-top: 30px;
                line-height: 53px;
                font-weight: 550;
                font-size: 48px;
                color: #000;
                letter-spacing: -1px;
                height: 110px;
                text-align: center;
                width: 80% !important;

                .many{
                    line-height: 42px;
                }
    
                .Typewriter__cursor{
                        
                    font-size: 40px;
                    font-weight: 100 !important;
    
                }
    
                
            }

        }

        .p{
            width: 100%;

            .txt{
                width: 75%;
                line-height: 29px;
                font-size:18px;
            }
        }

        .quickAsapLinks{

            width: 100%;
    
        }

    }
    
}

@media (max-width : 768px) {

    .getStarted{

        .linkServices{
            font-size: 16px;
            font-weight: 600;
            color: #777;
            margin-top: 0px !important;

            a{
                color: #108a00;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .textString{

            width: 100%;

            .sip{
    
                margin-top: 30px;
                line-height: 44px !important;
                font-weight: 550;
                font-size: 38px !important;
                color: #000;
                letter-spacing: -1px;
                height: 80px !important;
                
                text-align: center;
                width: 57%;

                .many{
                    line-height: 42px;
                }
    
                .Typewriter__cursor{
                        
                    font-size: 40px;
                    font-weight: 100 !important;
    
                }
    
                
            }

        }

    }
    
}

@media (max-width : 600px) {

    .getStarted{

        .textString{

            width: 100%;

            .sip{
                height: 80px !important;
                width: 100% !important;
            }

        }



        .linkBin{
            width: 100% !important;
        }

    }
    
}

@media (max-width : 500px) {

    .getStarted{

        .textString{

            width: 100%;

            .sip{
                height: 95px !important;
                width: 100% !important;
                font-size: 35px !important;
                line-height: 43px !important;
            }

        }



        .linkBin{
            width: 100% !important;
        }

    }
    
}

@media (max-width : 423px) {

    .getStarted{

        .textString{

            width: 100%;

            .sip{
                height: 70px !important;
                width: 100% !important;
                font-size: 30px !important;
                line-height: 36px !important;
            }

        }



        .linkBin{
            width: 100% !important;
        }

    }
}