.guidePack{

    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}

@media (max-width : 1400px) {

    .guidePack{

        width: calc(100% - 60px);
    
    }

}

@media (max-width : 500px) {

    .guidePack{

        width: calc(100% - 40px);
    
    }

}