:root {

    --primary: #00484D;
    --primary25: #0C766F;
    --primary75: #095F59;
    --secondary: #FFF8DE;
    --accent: #FFD681;
    --dark: #131414;
    --lasgGreen : #78E183;
    --lime : #32C76D;
    --gold : #FDCF6E;
    --bgLime : #F8FFF7;
    --secondary2 : #FFFCF1;
    --lime2 : #ABFA01;
    --lime3 : #42FF01;

    --Theme2 : #3168ff;

  }

  .floatingBubble{

    position: fixed;
    z-index: 999999999;
    bottom: 0;
    margin: 10px;
    height: 60px;
    width: 60px;
    background-color: var(--lime);
    border-radius: 50%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;

  }

  .floatingBubble.active{
    
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 0;
    margin: 0;
    padding: 30px;

    height: 100vh;
    width: 100%;
  }

  html{
    scroll-behavior: smooth;
  }

* a{
    text-decoration: none;
    color: #fff;
}

.uppercase{
  text-transform: uppercase;
}

.thick_500{
  font-weight: 500;
}

.thick{
  font-weight: 600;
}

.thick_700{
  font-weight: 700;
}

.thick_800{
  font-weight: 800;
}

.thick_900{
  font-weight: 900;
}

.underline{
  text-decoration: underline;
}

.padbody{
  padding: 50px 0;
}

body{
  background-color: var(--secondary2);
  overflow-x: hidden;
}

*{

  box-sizing: border-box;margin : 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;

}

.a-dark a{
  color : #000
}

.a-light a{
  color : #fff
}

.flex_col{
  flex-direction: column;
}

.flex_justify_space_between{

  justify-content: space-between;

}

.flex_justify_center{

  justify-content: center;

}

.flex_align_center{

  align-items: center;
  
}

