.footer{

    background-color: #fff;
    padding-top: 50px;
    position: relative;
    overflow: hidden;

    .picture{
        
        width: 100%;
        height: max-content;
        display: none;

        img{
            width: 100%;
        }

    }

    .ekoBridge{
        position: absolute;
        bottom: -100px;
        z-index: 1;
        opacity: .03;
        height: 100%;
        width: 100%;
        right: 50px;
        display: none;

        img{

            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }

        
    }

    .footerContent, .picture{
        z-index: 2;
        position: relative;
    }

    .footerContent{

        padding: 70px 0;
        padding-bottom: 45px;

        .topPart{

            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 50px;

            p{
                font-size: 18px;
                color: var(--primary);
            }

            h1{
                font-size: 58px;
                font-weight: 700;
                letter-spacing: -2px;
                margin-top: 20px;
                display: flex;

                span{
                    margin: 0 15px;
                    margin-top: -5px;
                }
            }

        }

        .linksPart{

            margin-top: 70px;
            font-size: 13px;
            gap: 60px;

            .linkHolder{

                gap: 50px;

                &.twitter__holder{
                    width: 455px;
                    padding: 0 5px;
                }

                .linkHeader{
                    color: var(--primary);
                    font-size: 13px;
                    font-weight: 700 !important;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }

                .links{
                    gap: 40px;

                    a{
                        padding-bottom: 0px;
                        width: 250px;
                        transition: all .4s ease-in-out;
                        font-size: 15px;
                        font-weight: 400;
                        color: var(--dark);

                         &:last-child{
                            border: none;
                         }

                         &:hover{
                            color: var(--primary);
                            text-decoration: underline;
                         }
                    }
                }
            }

        }


        .footest_footer{

            margin-top: 50px;

            .socialMedia{

                border-bottom: 1px solid #eee;
                padding-bottom: 40px;

            }

            .txt{
                font-size: 12px;
            }

            .socialsIcon{

                gap: 25px;
                cursor: pointer;

                .icon{

                    color: #000;

                    &:hover{
                        color: var(--lime);
                    }
                }

            }

            .copyright{

                margin-top: 45px;

                .col{
                    color: var(--primary);
                }
            }
        }

    }

}


@media (max-width : 1300px) {

    .footer{

        padding-top: 0;

        .picture{
            height: 250px;

            img{
                height: 100%;
                object-fit: cover;
            }
        }

        .footerContent{

            padding: 50px 0;

            .topPart{

                padding-bottom: 50px;
                
                h1{

                    font-size: 45px;
                    letter-spacing: -1px;
                    line-height: 50px;

                    span{
                        display: none;
                    }
                }
            }

            .linksPart{

                margin-top: 50px;
                gap: 20px;
                flex-wrap: wrap;

                .linkHolder{

                    gap: 30px;
                    width: 30%;

                    .linkHeader{

                        font-size: 15px;
                        font-weight: 700;
                    }

                    .links{


                        a{
                            width: 90%;
                        }
                        
                    }
                }

            }

            .linksTabs{

                margin-top: 40px;
                overflow-x: scroll;
                scrollbar-width: none;
                scroll-behavior: smooth;

                .tab{
                    min-width: max-content;
                }

            }

            .footest_footer{

                .copyright{

                    gap: 40px;
                    justify-content: space-between;

                }
            }

        }

    }
}

@media (max-width : 600px) {

    .footer{

        padding-top: 30px;

        .picture{
            height: 200px;

            img{
                height: 100%;
                object-fit: cover;
            }
        }

        .footerContent{

            padding: 50px 0;
            padding-bottom: 0;

            .topPart{

                padding-bottom: 30px;

                p{
                    font-size: 14px;
                }
                
                h1{

                    font-size: 30px;
                    letter-spacing: -1px;
                    line-height: 35px;

                    span{
                        display: none;
                    }
                }
            }

            .linksPart{

                margin-top: 30px;
                gap: 30px;
                flex-wrap: wrap;
                font-size: 12px;

                .linkHolder{

                    gap: 30px;
                    width: 45%;

                    .linkHeader{

                        font-size: 13px;
                        font-weight: 700;
                    }

                    .links{

                        gap : 20px;

                        a{
                            width: 100%;
                            padding-bottom: 20px;
                        }
                        
                    }
                }

            }

            .linksTabs{

                margin-top: 30px;
                overflow-x: scroll;
                scrollbar-width: none;
                scroll-behavior: smooth;
                gap: 15px;

                .tab{
                    min-width: max-content;
                    font-size: 11px;
                }

            }

            .footest_footer{

                margin-top: 50px;

                .socialMedia{
                    flex-direction: column;
                    gap: 25px;
                }

                .copyright{

                    flex-direction: column;
                    gap: 20px;
                    text-align: center;
                    line-height: 20px;

                    .col{
                        background-color: var(--primary);
                        margin-bottom: 20px;
                        color: #fff;
                        padding: 20px;
                    }

                }
            }

        }

    }
}