.search__component{

    background-color: hsl(147, 100%, 99%);
    height: 100vh;
    z-index: 999999;
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 50px;

    .close__search__modal{

        position: absolute;
        right: 40px;
        font-size: 35px;
        top: 0px;
        cursor: pointer;
    }
}

.search__title{

    width: 90%;
    margin-bottom: 50px;
    
    span{
        color: #108a00;
    }

    .top{
        font-size: 65px;
        font-weight: 400;
        letter-spacing: -2px;
        line-height: 70px;
        color: #353535;

        span{
            font-weight: 600;
        }
    }

    .sub {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 30px;
        align-items: center;
        gap: 10px;

        span{
            gap: 5px;
            .searchIcon{
                font-size: 10px;
            }
        }

        .line{
            height: 15px;
            width: 1.5px;
            background-color: #999;
        }
    }

}

.search__field{

    width: 100%;
    border-radius: 5px;

    input{
        
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #6f6f6f;
        height: 100%;
        width: 100%;
        position: relative;
        font-size: 30px;
        padding-bottom: 20px;

        &::placeholder{
            color: #cccccc;
            font-weight: 300;
        }

        &:focus{
            border-color: green;
            border-width: 1.5px;
        }
        
    }

}

.results__calculations{

    width: 100%;
    text-align: center;
    margin: 50px 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #333;

}

.search__query__results{

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    overflow-y: auto;
    height: 450px;
    padding-bottom: 50px;

    p{
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    .result__card{

        width: 24%;
        // min-width: 300px;
        background-color: #fff;
        box-shadow: 2px 5px 20px rgba($color: #000000, $alpha: .04);
        padding: 30px;
        border-radius: 7px;
        cursor: pointer;
        position: relative;
        // height: max-content;
        
        .title{
            font-size: 21px;
            line-height: 27px;
            font-weight: 600;
            margin-bottom: 0px;
            text-decoration: underline;
        }


        .subtitle{

            color: #fff;
            font-size: 15px;
            margin-bottom: 0px;
            // display: none;

        }

        .themeArea{
            margin-top: 30px;
            font-size: 11px;
            letter-spacing: 2px;
            font-weight: 600;
            color: #108a00;
            position: absolute;
            bottom: 30px;
        }

        &:hover{
            color: #fff;
            background-color: #108a00;

            .subtitle{
                color: #108a00;
            }

            .themeArea{
                color: #fff;
            }
        }

    }

}