.mic{
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

    &.listen{
        background-color: green;

        &:hover{
            background-color:green;
        }
    }

    &:hover{
        background-color: hsl(120, 100%, 20%);
    }
}

.mic__holder{
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    // right: 5px;

}